<!-- app/views/task_mailer/notification.html.erb -->
<!-- app/views/task_mailer/notification.html.erb -->
<h1>Notification Sign Up</h1>
<p>Hello <%= @user.email %>, you have signed up to recieve notifications from the <%= @notification_time.station.name %> station at <%= @notification_time.time.strftime("%I:%M %p") %>, <%= @notification_time.recurrence %></p>
