<p style="color: green"><%= notice %></p>

<div class="container mt-3">
  <h1>Stations</h1>
  <div class="list-group">
    <% @stations.each do |station| %>
      <%= link_to station.name, station_path(station.id), class: 'list-group-item list-group-item-action' %>
    <% end %>
  </div>
</div>

<%= link_to "New station", new_station_path, class: 'btn btn-success mt-3' %>
