<p style="color: green"><%= notice %></p>
<h1 class="text-center">Stations</h1>

<div class="d-flex justify-content-end pt-2">
  <form action="<%= stations_path %>" method="get" class="mb-3">
    <div class="input-group">
      <input type="text" name="search" class="form-control form-control-sm" placeholder="Search for a station...">
      <div class="input-group-append">
        <button class="btn btn-sm btn-outline-secondary" type="submit">Search</button>
      </div>
    </div>
  </form>
</div>

<div class="container pt-1">
  <div class="list-group list-group-mine pt-3 ">
    <% @stations.each do |station| %>
      <%= link_to station.name, station_path(station.id), class: 'list-group-item list-group-item-action' %>
    <% end %>
  </div>
</div>

<%=link_to "New station", new_station_path, class: 'btn btn-success mt-3' %>
