<p style="color: green"><%= notice %></p>

<h1>Stations</h1>

<% @stations.each do |station| %>
      
        <h2><%= station.name %></h2>
      
 <% end %>
  <div>
  </div>
<%= link_to "New station", new_station_path %>
