<p style="color: green"><%= notice %></p>

<h1>Stations</h1>

<% @stations.each do |station| %>
      
        <h2><%= link_to station.name, station_path(station.id) %></h2>
      
 <% end %>
  <div>
  </div>

