<p style="color: green"><%= notice %></p>
<div id="arrivalTimes">
  <%= render @station %>
</div>
<div>
  <%= link_to "Back to stations", stations_path %>
</div>

<script>
    // Check if the current page URL matches the target URL
    if (window.location.href === 'http://0.0.0.0:3000/stations/1') {
        // Refresh the page after 6 seconds
        setTimeout(function(){
            location.reload();
        }, 30000);
    }
</script>
