<p style="color: green"><%= notice %></p>
<div id="arrivalTimes">
  <%= render @station %>
</div>
<div>
  <%= link_to "Back to stations", stations_path %>
</div>

<script>
  if (window.location.href === 'http://0.0.0.0:3000/stations/1') {
      setTimeout(function(){
          location.reload();
      }, 30000);
  }
</script>
