<p style="color: green"><%= notice %></p>

<h1 class="text-center">Saved Stations</h1>

<div class="container">
  <% @favorites.each do |favorite| %>
  <div class="d-flex flex-column align-items-center justify-content-center">
        <%= render "notification_times/notification_time", favorite: favorite %>
    <%end%>
  </div>
</div>
