<%#do you need all these div? %>
<div class="site-wrapper">
  <div class="site-wrapper-inner div-background" style="background-image: url('<%= asset_path('cta2.png')%>')">
    <div class="overlay" >
      <div class="container">
        <div class="clearfix">
          <div class="container inner">
            <h1 class style="text-center">HeyCTA</h1>
            <nav>
              <ul class="nav masthead-nav text-decoration: none">
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="inner cover">
        <h1 class="cover-heading ">Arrive On Time</h1>
        <p class="lead" style="text-align-center">
          HeyCTA is an app designed to simplify your daily commute by sending you notifications about your favorite CTA stations so that you always arrive at your destination on time.
        </p>
        <h4>Try It Out</h4>
        <p class="lead">
          <%= link_to "Find Your Station", stations_path, class: "btn btn-lg btn-default" %>
        </p>
      </div>
      <div class="video-container">
        <h3 class="cover-heading pt-5">Here's How HeyCTA Works</h3>
        <video controls controls width="320" height="180">
          <source src="<%= asset_path('cta3.mp4')%>" type="video/mp4">
        </video>
      </div>
      <h2 class="cover-heading pt-5 pb-3">Testimonials</h2>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-4">
            <div class="card text-white" style="background-color: #2b2b2b;">
              <div class="card-body text-center">
                <h4>"Simple and easy way to stay informed about my train schedule definitely makes my mornings easier."</h4>
                <p>- Kathrina StFlavin</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
