<div id="<%= dom_id notification_time %>">
  <p>
    <strong>User:</strong>
    <%= notification_time.user_id_id %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= notification_time.time %>
  </p>

  <p>
    <strong>Recurrence:</strong>
    <%= notification_time.recurrence %>
  </p>

</div>
