<p style="color: green"><%= notice %></p>

<h1>Notification times</h1>

<div id="notification_times">
  <% @notification_times.each do |notification_time| %>
    <%= render "notification_times/notification_times_index", notification_time: notification_time  %>
    <p>
      <% if Favorite.find_by(station_id: notification_time.station_id, user_id: notification_time.user_id) %>
        <%= link_to "Show this notification time", notification_time %>
      <% end %>

    </p>
  <% end %>
</div>

<%= link_to "New notification time", new_notification_time_path %>
