/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body, .devise-col, .navbar-col{
   background-color: #f2f1ec;
  }
  .navbar-col{
   background-color:#f2f1ec;

 }
 
 .table-container{

  
  border-radius: 25px;
}

table {
  border-collapse:separate;
  background-color: rgb(44, 44, 44);
  
}
.list-group-mine .list-group-item {
  background-color: #ffffff;
  border-top: 2px solid #fbecec;
  border-left-color: #fff;
  border-right-color: #fff;
}
.create-star-button {
  background-color: transparent;
  border: none;
  color: #ffc107;
  font-size: 1.2rem; /* Adjust size as needed */
  cursor: pointer; /* Show pointer cursor on hover */
}

.create-star-button:hover {
  color: #ffc107; /* Change color on hover */
}
.star-button {
  background-color: transparent;
  border: none;
  color: #dc3545; /* Button color */
  font-size: 1.2rem; /* Adjust size as needed */
}

.star-button:hover {
  color: #f8d7da; /* Button hover color */
}

.filled {
  color: #ffc107; /* Filled star color */
}
